body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
  h3 {
    color: yellow;
  }
  p {
    font-family: "Lucida Console", "Courier New", monospace;
  }
  img {
    border: 5px solid #555;
  }